services:
  portainer:
    image: portainer/portainer-ce:2.33.4-alpine
    container_name: portainer
    restart: unless-stopped
#    ports:
#      - 9000:9000
    expose:
      - 9000  # HTTP port
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    healthcheck:
      test: ["CMD-SHELL", "wget --spider --quiet http://localhost:9000 || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
    networks:
      pihole-net:
        ipv4_address: 172.18.0.70
    logging:
      driver: "json-file"
      options:
        max-size: "256m"
    labels:
      - 'wud.display.icon=sh:portainer'
      - 'wud.tag.include=^\d+\.\d+\.\d+-alpine$$'
      - 'wud.link.template=https://github.com/portainer/portainer/releases/tag/$${major}.$${minor}.$${patch}'


volumes:
  portainer_data:


networks:
  pihole-net:
    name: pihole_docker_pihole-net
    external: true
