networks:
  pihole-net:
    name: pihole_docker_pihole-net
    external: true
  proxy-net:
    name: portainer_sp_net
    driver: bridge
    internal: true

services:
  portainer:
    command: -H tcp://portainer-socket-proxy:2375 
    container_name: portainer
    depends_on:
      portainer-socket-proxy:
        condition: service_healthy
    expose:
      - 9000
    healthcheck:
      test: ["CMD-SHELL", "wget --spider --no-verbose http://localhost:9000 || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
    hostname: portainer
    image: portainer/portainer-ce:2.33.7-alpine
    labels:
      - 'wud.display.icon=sh:portainer'
      - 'wud.tag.include=^\d+\.\d+\.\d+-alpine$$'
      - 'wud.link.template=https://github.com/portainer/portainer/releases/tag/$${major}.$${minor}.$${patch}'
    logging:
      driver: "json-file"
      options:
        max-size: "128m"
    networks:
      pihole-net:
      proxy-net:
    restart: unless-stopped
    volumes:
      - portainer_data:/data

  portainer-socket-proxy:
    container_name: portainer-socket-proxy
    environment:
      - ALLOW_RESTARTS=1
      - ALLOW_START=1
      - ALLOW_STOP=1
      - AUTH=0
      - BUILD=0
      - COMMIT=0
      - CONFIGS=0
      - CONTAINERS=1
      - DISTRIBUTION=0
      - EVENTS=1
      - EXEC=1
      - GRPC=0
      - IMAGES=1
      - INFO=1
      - LOG_LEVEL=info
      - NETWORKS=1
      - NODES=0
      - PLUGINS=0
      - PING=1
      - POST=1
      - SECRETS=0
      - SERVICES=0
      - SESSION=0
      - SOCKET_PATH=/var/run/docker.sock
      - SWARM=0
      - SYSTEM=1
      - TASKS=0
      - VERSION=1
      - VOLUMES=1
    expose:
      - 2375
    healthcheck:
      test: ["CMD-SHELL", "wget --spider --no-verbose http://localhost:2375/_ping || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
    hostname: portainer-socket-proxy
    image: linuxserver/socket-proxy:3.2.12
    labels:
      - 'wud.tag.include=^(\d+)\.(\d+)\.(\d+)-r(\d+)-ls(\d+)$$'
      - 'wud.link.template=https://github.com/getwud/wud/releases/tag/$$1.$$2.$$3-r$$4-ls$$5'
    logging:
      driver: "json-file"
      options:
        max-size: "128m"
    networks:
      proxy-net:
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro

volumes:
  portainer_data: