**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/*.tfplan
**/*.tfvars
**/*.tfvars.*
**/*.tfvars.json
**/*.auto.tfvars
**/crash.log
**/crash.*.log
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json
**/override.tofu
**/override.tofu.json
**/*_override.tofu
**/*_override.tofu.json
.terraformrc
terraform.rc
.tofurc
tofu.rc

!**/*.tfvars.example
