networks:
  caddy-net:
    ipam:
      driver: default
      config:
        - subnet: 172.18.0.0/24
          gateway: 172.18.0.1

services:
  caddy:
    # build:
    #   context: .
    #   dockerfile_inline: |
    #     FROM caddy:2.11-builder-alpine AS builder
    #     RUN xcaddy build --with github.com/caddy-dns/porkbun
    #     FROM caddy:2.11-alpine
    #     COPY --from=builder /usr/bin/caddy /usr/bin/caddy
    #     RUN apk add --no-cache curl
    container_name: caddy
    environment:
      - PORKBUN_API_KEY=${PORKBUN_API_KEY}
      - PORKBUN_API_SECRET_KEY=${PORKBUN_API_SECRET_KEY}
    expose:
      - 80
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
    hostname: caddy
    image: caddy-porkbun:2.11-alpine
    labels:
      - 'wud.display.icon=sh:caddy'
      - 'wud.tag.include=caddy:^\d+\.\d+\.\d+-alpine'
      - 'wud.link.template=https://github.com/caddyserver/caddy/releases/tag/v$${major}.$${minor}.$${patch}'
    logging:
      driver: "json-file"
      options:
        max-size: "128m"
    networks:
      caddy-net:
    ports:
      - '443:443'
    # pull_policy: build
    pull_policy: never
    restart: unless-stopped
    volumes:
      - conf:/etc/caddy
      - config:/config
      - data:/data
      - site:/srv:ro

volumes:
  conf:
  config:
  data:
  site:
