networks:
  caddy-net:
    name: caddy-net
    external: true

services:
  authelia:
    container_name: authelia
    dns: 172.18.0.2
    environment:
      - AUTHELIA_IDENTITY_VALIDATION_RESET_PASSWORD_JWT_SECRET_FILE=${AUTHELIA_IDENTITY_VALIDATION_RESET_PASSWORD_JWT_SECRET_FILE}
      - AUTHELIA_SESSION_SECRET_FILE=${AUTHELIA_SESSION_SECRET_FILE}
      - AUTHELIA_STORAGE_ENCRYPTION_KEY_FILE=${AUTHELIA_STORAGE_ENCRYPTION_KEY_FILE}
      - TZ=${TZ}
    expose:
      - 9091
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:9091/api/health || exit 1
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
    hostname: authelia
    image: authelia/authelia:4.39.15
    labels:
      - 'wud.display.icon=sh:authelia'
      - 'wud.tag.include=^\d+\.\d+\.\d+$$'
      - 'wud.link.template=https://github.com/authelia/authelia/releases/tag/v$${major}.$${minor}.$${patch}'
    logging:
      driver: "json-file"
      options:
        max-size: 128m
    mem_limit: 512m
    networks:
      caddy-net:
        ipv4_address: 172.18.0.4
    restart: unless-stopped
    volumes:
      - config:/config
      - secrets:/secrets

volumes:
  config:
  secrets:
