services:
  caddy:
    # build:
    #   context: .
    #   dockerfile_inline: |
    #     FROM caddy:2.11-builder-alpine AS builder
    #     RUN xcaddy build --with github.com/caddy-dns/porkbun
    #     FROM caddy:2.11-alpine
    #     COPY --from=builder /usr/bin/caddy /usr/bin/caddy
    #     RUN apk add --no-cache curl
    image: caddy-porkbun:2.11-alpine
    container_name: caddy
    hostname: caddy
    # pull_policy: build
    pull_policy: never
    restart: unless-stopped
    environment:
      - PORKBUN_API_KEY=${PORKBUN_API_KEY}
      - PORKBUN_API_SECRET_KEY=${PORKBUN_API_SECRET_KEY}
    expose:
      - 80
    ports:
      - '443:443'
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
    volumes:
      - conf:/etc/caddy
      - config:/config
      - data:/data
      - site:/srv:ro
    networks:
      pihole-net:
        ipv4_address: 172.18.0.25
    logging:
      driver: "json-file"
      options:
        max-size: "256m"
    deploy:
      resources:
        limits:
          memory: 256M
    labels:
      - 'wud.display.icon=sh:caddy'
      - 'wud.tag.include=caddy:^\d+\.\d+\.\d+-alpine'
      - 'wud.link.template=https://github.com/caddyserver/caddy/releases/tag/v$${major}.$${minor}.$${patch}'


volumes:
  conf:
  config:
  data:
  site:


networks:
  pihole-net:
    name: pihole_docker_pihole-net
    external: true
