networks:
  pihole-net:
    name: pihole_docker_pihole-net
    external: true
  proxy-net:
    name: wud_sp_net
    driver: bridge
    internal: true

services:
  wud:
    container_name: wud
    depends_on:
      wud-socket-proxy:
        condition: service_healthy
    environment:
      - TZ=${TZ}
      - WUD_AUTH_OIDC_AUTHELIA_CLIENTID=${WUD_AUTH_OIDC_AUTHELIA_CLIENTID}
      - WUD_AUTH_OIDC_AUTHELIA_CLIENTSECRET=${WUD_AUTH_OIDC_AUTHELIA_CLIENTSECRET}
      - WUD_AUTH_OIDC_AUTHELIA_DISCOVERY=${WUD_AUTH_OIDC_AUTHELIA_DISCOVERY}
      - WUD_LOG_LEVEL=${WUD_LOG_LEVEL}
      - WUD_PROMETHEUS_ENABLED=${WUD_PROMETHEUS_ENABLED}
      - WUD_REGISTRY_HUB_PUBLIC_AUTH=${WUD_REGISTRY_HUB_PUBLIC_AUTH}
      - WUD_SERVER_PORT=${WUD_SERVER_PORT}
      - WUD_TRIGGER_DISCORD_1_URL=${WUD_TRIGGER_DISCORD_1_URL}
      - WUD_WATCHER_GMKG3_CAFILE=${WUD_WATCHER_GMKG3_CAFILE}
      - WUD_WATCHER_GMKG3_CERTFILE=${WUD_WATCHER_GMKG3_CERTFILE}
      - WUD_WATCHER_GMKG3_CRON=${WUD_WATCHER_GMKG3_CRON}
      - WUD_WATCHER_GMKG3_HOST=${WUD_WATCHER_GMKG3_HOST}
      - WUD_WATCHER_GMKG3_KEYFILE=${WUD_WATCHER_GMKG3_KEYFILE}
      - WUD_WATCHER_GMKG3_PORT=${WUD_WATCHER_GMKG3_PORT}
      - WUD_WATCHER_GMKG3_WATCHALL=${WUD_WATCHER_GMKG3_WATCHALL}
      - WUD_WATCHER_GMKG3_WATCHATSTART=${WUD_WATCHER_GMKG3_WATCHATSTART}
      - WUD_WATCHER_GMKG3_WATCHEVENTS=${WUD_WATCHER_GMKG3_WATCHEVENTS}
      - WUD_WATCHER_RASPBERRYPI4_CRON=${WUD_WATCHER_RASPBERRYPI4_CRON}
      - WUD_WATCHER_RASPBERRYPI4_HOST=${WUD_WATCHER_RASPBERRYPI4_HOST}
      - WUD_WATCHER_RASPBERRYPI4_PORT=${WUD_WATCHER_RASPBERRYPI4_PORT}
      - WUD_WATCHER_RASPBERRYPI4_WATCHALL=${WUD_WATCHER_RASPBERRYPI4_WATCHALL}
      - WUD_WATCHER_RASPBERRYPI4_WATCHATSTART=${WUD_WATCHER_RASPBERRYPI4_WATCHATSTART}
      - WUD_WATCHER_RASPBERRYPI4_WATCHEVENTS=${WUD_WATCHER_RASPBERRYPI4_WATCHEVENTS}
    expose:
      - 3000
    healthcheck:
      test: ["CMD-SHELL", "curl --fail http://localhost:${WUD_SERVER_PORT:-3000}/health || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
    hostname: wud
    image: getwud/wud:8.2.0
    labels:
      - 'wud.display.icon=sh:wud'
      - 'wud.tag.include=^\d+\.\d+\.\d+$$'
      - 'wud.link.template=https://github.com/getwud/wud/releases/tag/$${major}.$${minor}.$${patch}'
    logging:
      driver: "json-file"
      options:
        max-size: "128m"
    networks:
      pihole-net:
      proxy-net:
    restart: unless-stopped
    volumes:
      - certs:/certs
      - store:/store

  wud-socket-proxy:
    container_name: wud-socket-proxy
    environment:
      - BUILD=0
      - COMMIT=0
      - CONFIGS=0
      - CONTAINERS=1
      - DISTRIBUTION=0
      - EVENTS=1
      - EXEC=0
      - IMAGES=1
      - INFO=1
      - LOG_LEVEL=info
      - NETWORKS=0
      - NODES=0
      - PING=1
      - PLUGINS=0
      - POST=0
      - SECRETS=0
      - SERVICES=0
      - SOCKET_PATH=/var/run/docker.sock
      - SWARM=0
      - SYSTEM=0
      - TASKS=0
      - VERSION=1
      - VOLUMES=0
    expose:
      - 2375
    healthcheck:
      test: ["CMD-SHELL", "wget --spider --no-verbose http://localhost:2375/_ping || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
    hostname: wud-socket-proxy
    image: linuxserver/socket-proxy:3.2.12
    labels:
      - 'wud.tag.include=^(\d+)\.(\d+)\.(\d+)-r(\d+)-ls(\d+)$$'
      - 'wud.link.template=https://github.com/getwud/wud/releases/tag/$$1.$$2.$$3-r$$4-ls$$5'
    logging:
      driver: "json-file"
      options:
        max-size: "128m"
    networks:
      proxy-net:
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro

volumes:
  certs:
  store:
