services:
  wireguard:
    image: ghcr.io/wg-easy/wg-easy:15.2.2
    container_name: wireguard
    hostname: wireguard
    environment:
      - PORT=${PORT}
      - DISABLE_IPV6=${DISABLE_IPV6}
      - INIT_ENABLED=${INIT_ENABLED}
      - INIT_USERNAME=${INIT_USERNAME}
      - INIT_PASSWORD=${INIT_PASSWORD}
      - INIT_HOST=${INIT_HOST}
      - INIT_PORT=${INIT_PORT}
      - INIT_DNS=${INIT_DNS}
      - INIT_IPV4_CIDR=${INIT_IPV4_CIDR}
      - INIT_IPV6_CIDR=${INIT_IPV6_CIDR}
      - INIT_ALLOWED_IPS=${INIT_ALLOWED_IPS}
    restart: unless-stopped
    volumes:
      - etc:/etc/wireguard
    cap_add:
      - NET_ADMIN
    network_mode: host
    logging:
      driver: "json-file"
      options:
        max-size: "64m"
    deploy:
      resources:
        limits:
          memory: 256M
    labels:
      - 'wud.display.icon=sh:wireguard'
      - 'wud.tag.include=^v\d+\.\d+\.\d+$$'
      - 'wud.link.template=https://github.com/wg-easy/wg-easy/releases/tag/v$${major}.$${minor}.$${patch}'


volumes:
  etc:
