name: Notify Discord on Dependabot PR

on:
  pull_request_target:
    types: [opened]
    branches:
      - main

permissions:
  contents: read
  pull-requests: read

jobs:
  notify:
    runs-on: ubuntu-latest
    if: github.actor == 'dependabot[bot]'
    steps:
      - name: Send message to Discord
        uses: sarisia/actions-status-discord@v1
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK_URL }}
          content: ${{ github.event.pull_request.title }}
          url: ${{ github.event.pull_request.html_url }}
